.nav-item::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #3366FF;
    margin: auto;
    display: block;
  }

  .nav-item:hover::after {
    width: 100%;
    transition: width 0.3s linear;
  }

  #customerNameEmail {
    align-self: flex-start;
    /* To align the name and email to the left */
  }

  .id {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .large-icon {
    margin-left: 75px;
    width: 40px;
  }

  .navbar {
    background-color: #fff;
    border: none;
    box-shadow: none;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-link {
    color: #000;
    font-size: 19px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
  }
  .nav-link:hover{
    color: #000;
  }

  .list-group p a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
  }
  .list-group p:hover {
    text-decoration: none;
  }
   .dropdown-menu{
    background-color: #666666;
  } 
  .dropdown-item{
    color: #fff;
  }
  .dropdown-item:hover{
    color: #fff;
    background-color: #666666;
  }
 /*  carousel      */   
 .c-item {
	height: 500px;
  }
  
  .c-img {
	height: 100%;
	object-fit: cover;
	filter: brightness(0.6);
  }
  #btn{
	background-color: #FF6600;
	border: none;
	letter-spacing: 1px;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: none;
  transition: 0.5s;
  }
  #btn:hover{
    box-shadow: 2px 2px 4px #000;
  }
/* carousel */
/* txt banner */
#about-btn{
  background-color: #FF6600;
  color: #fff;
  border: none;
  width: 150px;
  height: 38px;
  font-weight: 500;
  letter-spacing: 1.5px;
  border-radius: 8px;
  transition: 0.5s;
}
#about-btn:hover{
  cursor: pointer;
  width: 170px;
  box-shadow: 2px 2px 4px #000;
}
/* txt banner */
/* pro */
.win h2{
	text-align: center;
  font-weight: 500;
  font-size: 30px;
  font-family: sans-serif;
  color: red;
  padding-top:  2%;
  letter-spacing: 3px;
}
.win h2::before,
.win h2::after{
content: "";
  width: 50px;
  height: 2px;
  background: linear-gradient(
  45deg,
  rgba(89, 126, 247, 1) 12%,
  rgba(131, 242, 111, 1) 84%
);
background-blend-mode: normal;
  display: inline-block;
}
.win h2:before {
  margin: 0 15px 10px 0;
}

.win h2:after {
  margin: 0 0 10px 15px;
}
a{
  text-decoration: none;
}
a{
  text-decoration: none;
}
.wrapper{
  padding: 125px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services{
  width: 1100px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.single-img{
  border-radius: 5px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  width: 280px;
  height: 380px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  transform: translate(0, 0);
  transition: .3s;
}
.single-img:hover{
  transform: translate(0, -9px);
}
.img-one{
  background-image: url(images/long\ coat.png);
  background-size: cover;
  background-position: center center;
}
.img-two{
  background-image: url(images/women\ jacket.png);
  background-size: cover;
  background-position: center center;
}
.img-three{
  background-image: url(images/men\ jacket.png);
  background-size: cover;
  background-position: center center;
}
.img-text{
  background: linear-gradient(to top,rgba(255,255,255,0.9),rgba(255,255,255,0));
  padding: 0 10px 5px 10px;
  width: 100%;
  height: auto;
  position: relative;
  transform: translate(0, 110px);
  line-height: 25px;
  transition: 0.5s ease;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.img-text h4{
  line-height: 15px;
  padding: 0;
  margin: 16px 0;
  font-family: 'Alfa Slab One', cursive;
  font-size: 25px;
}
.services button{
  background: #252525;
  color: #fff;
  padding: 10px 35px;
  border: none;
  border-radius: 50px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 10px;
}
.single-img:hover .img-text{
  transform: translate(0, 0);
}

@media (max-width: 991px){
  .wrapper{
      padding: 0;
  }
  .services{
      width: 100%;
      display: flex;
      flex-direction: column;
  }
  a{
      margin-bottom: 35px;
  }
}
/* pro */
/* banner */
.banner {
  box-shadow: 10px 10px 20px lightgray;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/khaadi\ banner\ image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.b-content {
  letter-spacing: 1px;
  padding-left: 50px;
  padding-top: 170px;
}

.b-content h2 {
  color: #fff;
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 550;
}

.b-content  p {
  color: #fff;
  font-size: 18px;
  padding-top: 2%;
}

.b-content  button {
  border-radius: 10px;
  border: 1px solid #fff;
  width: 12%;
  height: 40px;
  background-color: transparent;
}

.content button:hover {
  background-color: rgb(95, 158, 160);
  border-color: #000;
  box-shadow: 10px 10px 20px;
}

.content button a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
/* banner */

/* top */
.top h2{
	text-align: center;
  font-weight: 500;
  font-size: 27px;
  font-family: sans-serif;
  color: red;
  padding-top:  3%;
  letter-spacing: 3px;
}
.top h2::before,
.top h2::after{
content: "";
  width: 50px;
  height: 2px;
  background: linear-gradient(
  45deg,
  rgba(89, 126, 247, 1) 12%,
  rgba(131, 242, 111, 1) 84%
);
background-blend-mode: normal;
  display: inline-block;
}
.top h2:before {
  margin: 0 15px 10px 0;
}

.top h2:after {
  margin: 0 0 10px 15px;
}
a{
  text-decoration: none;
}
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table;
}
.lightSlider {
  overflow: hidden;
  margin: 0;
}
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
.lSSlideWrapper > .lightSlider:after {
  clear: both;
}
.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform,height;
  transition-property: transform,height;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
  position: relative;
}
.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}

.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
display: none;

}
.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #428bca;
}
.lSSlideOuter .media {
  opacity: 0.8;
}
.lSSlideOuter .media.active {
  opacity: 1;
}

.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
  transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}

.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url('../img/controls.png');
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
  opacity: 1;
}
.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}
.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}
.lSAction > a.disabled {
  pointer-events: none;
}
.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}


.lSSlideOuter.vertical {
  position: relative;
}
.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}

.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px;
}
.lSSlideOuter.lSrtl {
  direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
  float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}

@-webkit-keyframes rightEnd {
  0% {
      left: 0;
  }

  50% {
      left: -15px;
  }

  100% {
      left: 0;
  }
}
@keyframes rightEnd {
  0% {
      left: 0;
  }

  50% {
      left: -15px;
  }

  100% {
      left: 0;
  }
}
@-webkit-keyframes topEnd {
  0% {
      top: 0;
  }

  50% {
      top: -15px;
  }

  100% {
      top: 0;
  }
}
@keyframes topEnd {
  0% {
      top: 0;
  }

  50% {
      top: -15px;
  }

  100% {
      top: 0;
  }
}
@-webkit-keyframes leftEnd {
  0% {
      left: 0;
  }

  50% {
      left: 15px;
  }

  100% {
      left: 0;
  }
}
@keyframes leftEnd {
  0% {
      left: 0;
  }

  50% {
      left: 15px;
  }

  100% {
      left: 0;
  }
}
@-webkit-keyframes bottomEnd {
  0% {
      bottom: 0;
  }

  50% {
      bottom: -15px;
  }

  100% {
      bottom: 0;
  }
}
@keyframes bottomEnd {
  0% {
      bottom: 0;
  }

  50% {
      bottom: -15px;
  }

  100% {
      bottom: 0;
  }
}
.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}
.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}
.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}
.lightSlider.lsGrab > * {
cursor: -webkit-grab;
cursor: -moz-grab;
cursor: -o-grab;
cursor: -ms-grab;
cursor: grab;
}
.lightSlider.lsGrabbing > * {
cursor: move;
cursor: -webkit-grabbing;
cursor: -moz-grabbing;
cursor: -o-grabbing;
cursor: -ms-grabbing;
cursor: grabbing;
}
a{
  text-decoration: none;
}

.box{
  width: 230px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px ;
}

.slide-img{
  height: 300px;
  position: relative;
}

.slide-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.type{
  display: flex;
  flex-direction: column;
}

.type a{
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;

}


.type span{
  color: rgba(26, 26, 26, 0.5);
}

.price{
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(56, 119, 145, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn{
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, .2);
}

.buy-btn:hover{
  color: white;
  background-color: palevioletred;
  transition: all ease 0.3s;
}

.overlay{
  visibility: hidden;
}
.slide-img:hover .overlay{
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
/* top */

/* cat */
.cat h2{
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    padding-top: 1%;
  }

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

:root {
    --font1: 'Heebo', sans-serif;
    --font2: 'Fira Sans Extra Condensed', sans-serif;
    --font3: 'Roboto', sans-serif;

    --btnbg: #FF6600;
    --btnfontcolor: #fff;
    --btnfontcolorhover: rgb(255, 255, 255);
    --btnbghover: #FF6600;
    --btnactivefs: #FF6600;


    --label-index: #960796;
    --danger-index: #5bc257;
    --link-color: #000;
    --link-color-hover: #fff;
    --bg-content-color: #ffcc00;

}

.container-fluid {
    max-width: 1400px;

}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}


.card h5 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
} 

.card-img-top {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}

.card h2 {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
}

.aff-link {
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .btn {
    font-size: 1.5rem;
}

@media (max-width: 1025px) {
    .btn {
        padding: 5px 40px 5px 40px;
    }
}
@media (max-width: 250px) {
    .btn {
        padding: 5px 30px 5px 30px;
    }
}

.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: #ffffff;
    border: none;
    text-decoration: none;
    outline: 0;
    border-radius: 100px;
}
.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
}

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg)!important;
    color: var(--btnfontcolor)!important;
}
.bg-danger {
    font-size: 1rem;
}


.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    color: darkgray;
}

.fa-heart:before {
    color:crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}
/* cat */

/* review */
.review .testimonial {
	padding: 80px 0;
}
.sec-heading {
	margin-bottom: 60px;
}
.sec-heading h6 {
	font-family: allura;
	font-weight: 900;
	font-size: 80px;
}
.single-box {
	border: 3px solid #e6f0fa;
	padding: 50px 30px 40px;
	border-radius: 20px;
	background: #fff;
}
.img-area {
	margin: 45px 0 20px;
}
.single-box img {
	max-width: 100px;
	border-radius: 50%;
	margin: 0 auto
}
.single-box h4 {
	font-weight: 600;
	margin: 0;
	font-family: 'Allura', cursive;
	font-size: 35px;
}
.single-box {
	overflow: hidden
}
.single-box .img-area {
	width: 30%;
	float: left;
	margin: 0
}
.single-box .content {
	width: 70%;
	float: left;
	padding-left: 10px
}
.single-box p {
	margin: 10px 0 25px;
	line-height: 2.3;
}
.testi-carousel-three .single-box {
	border: 0;
	padding: 0 50px;
}
.testi-carousel .owl-dots, .clients-carousel .owl-dots, .testi-carousel-three .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;
	width: 100%;
}
.testi-carousel .owl-dot, .clients-carousel .owl-dot, .testi-carousel-three .owl-dot {
	width: 16px;
	height: 16px;
	background-color: #ddd;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
}
.testi-carousel .owl-dot.active, .clients-carousel .owl-dot.active, .testi-carousel-three .owl-dot.active {
	background-color: blueviolet;
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
	.testimonial {
		padding: 70px 0 130px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
	.testimonial {
		padding: 70px 0 130px;
	}
	.single-box {
		padding: 50px 0 40px;
	}
	.single-box .img-area {
		width: 100%;
		float: none;
	}
	.single-box .content {
		width: 100%;
		float: none;
	}
}
/* review */
